.soul-map {
  // height: 100vh;
  overflow: hidden;
  position: relative;
  .soulmap-content {
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80vh;

    .left-content {
      margin: 50px 0;
      position: relative;
      a {
        text-decoration: none;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        border: 1px solid #23272a;
        color: #23272a;
        border-radius: 20px;
        padding: 12px 24px;
        transition: all 0.3s ease 0s;

        &:hover {
          color: #fff;
          background: #23272a;
        }
      }
      h1 {
        font-family: "Akira";
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        color: #23272a;
        text-transform: uppercase;
      }
      p {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        color: #00a551;
        margin: 30px 0 40px 0;
      }

      .rptrd {
        position: absolute;
        bottom: 0;
        color: #23272a;
      }
    }
    .right-content {
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .soul-map {
    overflow: hidden;
    .soulmap-content {
      margin: 0px 0 0 0;
      display: grid;
      grid-template-columns: 1fr;

      .left-content {
        margin-bottom: -70px;

        a {
          font-size: 12px;
          padding: 12px 24px;
        }
        p {
          color: #b8b8b8;
          font-size: 14px;
        }
        .rptrd {
          display: none;
        }
        h1 {
          font-size: 16px;
        }
      }
    }
  }
}
