.home {
  height: 100vh;
  position: relative;

  .main-content {
    // height: 0vh;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .left-content {
      align-self: flex-end;
      img {
        width: 400px;
        overflow: hidden;
      }
    }

    .center-content {
      display: flex;
      flex: 1.5;
      height: 70%;
      justify-content: space-around;
      align-items: center;
      .image {
        .inner-image {
          width: 90%;
          margin: auto;
          // animation: moveInRight 2s;
          // .content-img {
          //   &:hover {
          //     cursor: pointer;
          //     video {
          //       display: block;
          //       width: 100%;
          //       border-radius: 6px;
          //     }
          //     img {
          //       display: none;
          //     }
          //   }
          // }
          video {
            display: none;
          }
          img {
            width: 100%;
          }
          p {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500;
          }
          a {
            width: 100%;
            display: block;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500;
            display: block;
            font-size: 1rem;
            text-decoration: none;
            border: 1px solid #23272a;
            width: 100%;
            text-align: center;
            border-radius: 20px;
            padding: 5px 10px;
            color: #23272a;
            transition: all 0.7s ease 0s;
            &:hover {
              cursor: pointer;
              color: #fff;
              background: #23272a;
            }
          }
        }
      }
      .header-text {
        text-align: center;
        // animation: moveInLeft 2s;
        h1 {
          color: #00a551;
          font-family: "Akira";
          font-style: normal;
          font-weight: 800;
          text-transform: uppercase;
          font-size: 4.125rem;
        }
      }
    }

    .right-content {
      align-self: flex-end;
      margin-bottom: 50px;
      p {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        text-align: center;
        color: #23272a;
      }
    }
  }

  .home-mobile {
    display: none;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 960px) {
  .home {
    height: 100vh;
    position: relative;
    .main-content {
      display: none;
      visibility: hidden;
    }

    video {
      display: none;
    }

    .home-mobile {
      display: block;
      position: relative;
      height: 85vh;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;

      .image {
        position: absolute;
        width: 100%;
        bottom: -20px;
        z-index: 0;
        display: flex;
        .img-container {
          justify-content: center;
          align-self: center;
          img {
            margin: auto;
            width: 100%;
          }
        }
      }
      .rapture-text {
        margin: 10px 0;
        a {
          padding: 8px 24px;
          background: #48f19b;
          border-radius: 60px;
          text-decoration: none;
          color: #f9f9f9;
        }
        .copy {
          margin: 20px 0;
        }
      }
    }
  }
}
