.home {
  height: 100vh;
  position: relative;

  .center {
    width: 60%;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    .inner-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .rptrd-text {
        text-align: center;
        h1 {
          color: #00a551;
          font-family: "Akira Expanded";
          font-style: normal;
          font-weight: 800;
          text-transform: uppercase;
          font-size: 4.125rem;
        }
      }

      .image-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image-container {
          width: 100%;

          &:hover {
            cursor: pointer;
            img {
              display: none;
            }
            video {
              display: block;
              border-radius: 5px;
            }
          }
          img {
            width: 100%;
          }
          video {
            width: 100%;
          }
          .gif {
            display: none;
          }
        }
        p {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          color: #23272a;
          margin: 10px 0;
        }
        a {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          text-decoration: none;
          border: 1px solid #23272a;
          width: 100%;
          text-align: center;
          border-radius: 20px;
          padding: 5px 10px;
          color: #23272a;
          transition: all 0.7s ease 0s;
          &:hover {
            cursor: pointer;
            color: #fff;
            background: #23272a;
          }
        }
      }
    }
  }
  .bottom-content {
    position: absolute;
    bottom: 0;
    width: 100%;

    .inner-bottom {
      display: flex;
      justify-content: space-between;
      .bottom-image {
        img {
          width: 300px;
        }
      }
      .copyright {
        align-self: flex-end;
        margin-bottom: 50px;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
  .home-mobile {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .home {
    height: 100vh;
    position: relative;
    .center,
    .bottom-content {
      display: none;
    }

    video {
      display: none;
    }

    .home-mobile {
      display: block;
      position: relative;
      height: 85vh;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;

      .image {
        position: absolute;
        width: 100%;
        bottom: -10px;
        img {
          width: 100%;
          height: 450px;
        }
      }
      .rapture-text {
        margin: 10px 0;
        a {
          padding: 8px 24px;
          background: #48f19b;
          border-radius: 60px;
          text-decoration: none;
          color: #f9f9f9;
        }
        .copy {
          margin: 20px 0;
        }
      }
    }
  }
}
