.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: auto;

  .logo {
    &:hover {
      cursor: pointer;
    }
  }

  .nav {
    ul {
      list-style: none;
      display: flex;
      .tab {
        font-weight: 700;
        font-size: 30px;
      }

      li {
        padding: 8px 24px;
        border-radius: 5px;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }

        a {
          font-family: "DM Sans", sans-serif;
          text-decoration: none;
          color: #23272a;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
  .active {
    border: 1px solid #48f19b;
  }
  .inactive {
    background: #e7e7e7;
    opacity: 0.45;
    border-radius: 5px;
    color: #5d5d5d;
    &:hover {
      cursor: not-allowed;
    }
    a {
      &:hover {
        cursor: not-allowed;
      }
    }
    li {
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  .clickable {
    background: #f9f9f9;
    border-radius: 5px;
    color: #23272a;
    transition: all 0.7s ease 0s;
    &:hover {
      background: #f1f1f1;
      color: #23272a;
    }
  }
  img {
    display: block;
  }

  .nav-menu {
    display: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    .active {
      border: none;
    }
    .clickable {
      background: none;
    }
    .nav-menu {
      display: block;
    }
    .nav-mobile {
      display: block;
      // flex-direction: column;
      width: 100%;
      position: absolute;
      transition: all 0.7s ease 0s;
      height: 300px;
      z-index: 200;
      background-color: white;
      top: 100px;
      // transition: 0.5s;
      ul {
        list-style: none;
        background-color: white;
        li {
          padding: 20px 0;
          &:nth-child(5),
          &:nth-child(6) {
            display: inline-block;
            margin-right: 10px;
          }
          a {
            text-decoration: none;
            color: #23272a;
            font-family: "DM Sans", sans-serif;
            font-size: 1.1rem;
          }
        }
      }
      // ul {
      //   z-index: 1000;
      //   .active,
      //   .inactive {
      //     border: none;
      //   }

      //   li {
      //     list-style: none;
      //     padding: 20px 0;
      //     a {
      //       text-decoration: none;
      //       font-family: "DM Sans";
      //       font-style: normal;
      //       font-weight: 400;
      //       font-size: 24px;
      //       border: none;
      //     }
      //   }
      // }
    }

    .nav {
      display: none;
    }
  }
}
