.footer {
  display: flex;
  justify-content: space-between;
  height: 250px;
  // margin-top: 50px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #23272a;

  .rise-with-us,
  .coolshit {
    flex: 2;
  }
  .copyright {
    flex: 1;
    align-self: center;
  }

  .rise-with-us {
    h1,
    p {
      margin: 10px 0;
    }
    .quick-links {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .coolshit {
    text-align: center;
    padding: 50px 0;
  }
}

@media screen and (max-width: 960px) {
  .footer {
    flex-direction: column;
    margin-top: 0;

    .coolshit {
      order: 1;
      p {
        text-align: left;
        font-size: 0.85rem;
        font-weight: 500;
      }
    }
    .rise-with-us {
      order: 2;
      h1 {
        font-size: 1rem;
        font-family: "Akira";
        font-style: normal;
        font-weight: 800;
      }
      p {
        color: #b8b8b8;
      }

      .quick-links {
        a {
          img {
            height: 2rem;
          }
        }
      }
    }
    .copyright {
      order: 3;
      p {
        font-size: 0.8125rem;
        color: #b8b8b8;
        &:first-child {
          margin-top: 20px;
        }
        &:last-child {
          margin-bottom: 30px;
        }
      }
    }
  }
}
