.attribute-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #23272a;
  div {
    padding: 10px 0;
  }

  .attribute-key {
    border-radius: 5px 0 0 5px;
    border: 1px solid #23272a;
    background: #fff;
  }
  .attribute-rarity {
    border-radius: 0 5px 5px 0;
    border: 1px solid #23272a;
    background: #fff;
  }

  .attribute-value {
    border: 1px solid #d7d1d1;
    background: #e9e9e9;
  }
}
