.avatar-products {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // gap: 10px;
  // margin-top: 50px;

  div {
    border: 1px solid #f1f1f1;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
  }

  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    // img {
    //   height: 100px;
    // }
  }
}
.active {
  border: 1px solid #48f19b;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .avatar-products {
    grid-template-columns: repeat(3, 1fr);
    div {
      height: 130px;
    }
  }
}
