@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://www.dafont.com/akira-expanded.font");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1300px;
}
